
  <div class=" container mx-auto">
    <h3>filter Uno</h3>

    <div class="d-flex justify-content-evenly m-5 ">
       
        <div  class=" ">
            <div >
                <input type="number" [(ngModel)]="numeroValor" (ngModelChange)="filtrarNum($event)">
            </div>
            
            <ul *ngFor="let valor of nuevoValores">
                <li> {{valor}} </li>
            </ul>
            
        </div>


        <div class=" ">
            <ul *ngFor="let fruta of frutas" class="list-inline">
                <li class="list-inline-item">{{fruta | uppercase}}</li>
            </ul>
        </div>
    </div>

  </div>
  


